@layer reset, base, tokens, recipes, utilities;

.transition-none * {
    transition: none !important;
}

body {
    background-color: var(--colors-background);
    transition: background-color 0.3s ease;
}

[data-panda-theme='light'] body {
    background-color: var(--colors-background);
}

[data-panda-theme='dark'] body {
    background-color: var(--colors-background);
}

* {
    transition: border-color 0.3s ease;
}